<div class="message">GAME OVER!</div>
<div class="score">Your score is: {{score}}</div>
<div class="share">
	<a href="#" onclick="window.mainPage.share('facebook');">Facebook</a>
	<a href="#" onclick="window.mainPage.share('twitter');">Twitter</a>
</div>
