<div class="message">GAME OVER!</div>
<div class="score">You scored {{score}} point(s) on Bee First.</div>
<div>
	<div class="social">
		<!-- add social media widgets -->
		<a href="#" id="shareOnTwitter" target="_blank" class="social-t"></a>
		<a href="#" id="shareOnFacebook" target="_blank" class="social-fb"></a>
		<a href="#" id="shareOnGoogle" target="_blank" class="social-g"></a>
	</div>
	<div class="restart">
		<a href="#" id="restart">Restart</a>
	</div>
</div>
