<div class="message">GAME OVER!</div>
<div class="score">You scored {{score}} point(s) on Bee First.</div>
<div class="share">
	<a href="#" id="shareOnFacebook">Share on Facebook</a>
	<a href="#" id="shareOnTwitter">Share on Twitter</a>
</div>
<div class="restart">
	<a href="#" id="restart">Restart</a>
</div>
